<div class="col-md-12 col-xs-12" ng-controller="demandeDevisCtrl">
    <div class="x_panel">
        <div class="x_title">
            <h2>Devis <small>Client</small>{{messages}}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
        {{devi}}
            <form class="form-horizontal form-label-left" name="formContent" enctype="multipart/form-data">
                <div class="col-md-6 col-xs-12">
                    <br/>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="titre" ng-model="devi.title" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" rows="3" placeholder="Contents" ng-model="devi.contents"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <!-- <div class="button" ngf-select="upload($file)">Upload on file select</div> -->
                                    <div class="button" alt="" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*">Upload on file select</div>
                                </div>
                            </div>
                        </div>
                    </div>
            <li ng-show="isArtisan">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="">
                                        
                                    <input type="text" class="form-control" placeholder="offre" ng-model="offre.title">
                                    <input type="text" class="form-control" placeholder="description" ng-model="offre.desc">
                                    <div col-md-12>
                                        <button type="button" class="btn btn-primary" ng-click="createOffre()"> Ajouter offre </button>
                                        <button type="button" class="btn btn-primary" ng-click="cancel()">  Cancel </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="offres">
                            <a ng-repeat="offre in offres" href="" class="btn btn-danger btn-xs" ng-click="removeOffre(offre)">
                                <i class="fa fa-trash-o" ></i> {{offre.title}}
                            </a>

                        </div>
                        <div class="col-md-12" ng-show="devi.offres">
                            <hr/>
                            <a ng-repeat="offre in devi.offres" href="" class="btn btn-danger btn-xs" ng-click="removeOffreDevis(offre, devi)">
                                <i class="fa fa-trash-o" ></i> {{offre.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </li>

                <div class="clearfix"></div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button  class="btn btn-primary btn-sm" ng-click="deselect()">Cancel</button>
                        <button  class="btn btn-success btn-sm" ng-click="createDevis()">Create</button>
                        <button class="btn btn-info btn-sm" ng-click="updateDevis()"> Update</button>
                    </div>
                </div>
            </form>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="ex3">Show</label>
                            <select class="form-control input-sm">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            entries
                        </div>
                    </form>
                </div>
                <div class="col-md-6 " >
                    <form class="form-inline">
                        <div class="form-group pull-right">
                            <label for="ex3">Search all columns:</label>
                            <input type="text" id="ex3" class="form-contro input-sml" placeholder=" ">
                        </div>
                    </form>
                </div>

            </div>
            <div style="padding: 10px;"></div>
            <!--devis-->
            <div class="col-md-12 col-xs-12">
                <table  class="table table-striped responsive-utilities jambo_table">
                    <thead>
                    <tr class="headings">
                        <th>
                            <input type="checkbox" class="tableflat">
                        </th>
                        <th>Nom </th>
                        <th>Contents </th>
                        <th>state </th>
                        <th>type</th>
                        <th>offre</th>
                        <th class=" no-link last"><span class="nobr">Action</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="devi in devis" >
                        <td class="a-center ">
                            <a href="" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                        </td>
                        <td class=" ">{{devi.title}}</td>
                        <td class=" " >{{devi.contents}}</td>
                        <td class=" ">{{devi.state}}</td>
                        <td class=" ">{{devi.type}}</td>
                        <td class=" ">{{devi.offres}}</td>
                        <td class=" last"><a href="#">
                            <a href="" class="btn btn-warning btn-xs" ng-click="editDevis(devi._id)"><i class="fa fa-pencil" ></i> Edit </a>
                            <a href="" class="btn btn-danger btn-xs" ng-click="removeDevis(devi._id)"><i class="fa fa-trash-o" ></i> Delete </a></a>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div class="row">
                    <div class="dataTables_paginate paging_full_numbers" id="example_paginate">
                        <a tabindex="0" class="first paginate_button paginate_button_disabled" id="example_first">First</a>
                        <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="example_previous">Previous</a>
                                                <span>
                                                    <a tabindex="0" class="paginate_active">1</a>
                                                    <a tabindex="0" class="paginate_button">2</a>
                                                    <a tabindex="0" class="paginate_button">3</a>
                                                    <a tabindex="0" class="paginate_button">4</a>
                                                </span>
                        <a tabindex="0" class="next paginate_button" id="example_next">Next</a>
                        <a tabindex="0" class="last paginate_button" id="example_last">Last</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>