
<div class="col-md-12 col-xs-12">
    <div class="col-md-12 col-xs-12">
        <h4>Conversation Liste Client</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Contact</th>
                <th>Adresse</th>
                <th>Offre</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in listeUsers" ng-if="u.typeUser!='artisan'">
                <td> {{u.typeUser}}</td>
                <td> {{u.email}}</td>
                <td>
                </td>
                <td> ?</td>
                <td> <button  class="btn btn-default btn-sm" ng-click="">Confirmer</button>
                    <button  class="btn btn-info btn-sm" ng-click="">cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h4>Conversation Liste Devis</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Contact</th>
                <th>Devis</th>
                <th>Adresse</th>
                <th>Offre</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" n in notificationNewDevis">
                <td>
                    {{n.user.email}}
                    <br/>
                </td>
                <td>{{n.devis.title}}</td>
                <td>
                    <div id="mapDevis" style="width:150px; height:150px">{{n.devis.adresseDevis.location}}</div>
                </td>
                <td>
                    <p ng-repeat=" offre in n.devis.offres" ng-if="offre.prestataireId == current_user._id">
                        <a href="#">Prestataire  = {{offre.prestataireId}} </a>
                        <br/>
                        <span> {{offre.title}}</span>
                         <br/>
                        <span>{{offre.desc}}</span>
                        <br/>
                        <a href="#" ><strong> {{offre.questions.length}} </strong> Question(s) </a>
                            <br/>
                            <span ng-repeat="question in offre.questions">
                                <span>{{question.contents}}</span> <br/>
                            </span>
                            <input type="text" class="form-control" placeholder="Questions"  id="quest{{offre._id}}" />
                            <button  class="btn btn-default btn-sm" ng-click="createQuestion(n,offre)">Envoyer</button>
                    </p>
                </td>
                <td ng-init="showFormOffre = false;">
                    <button  class="btn btn-default btn-sm" ng-click="showFormOffre=true;">Ajouter</button>
                    <form class="form-horizontal form-label-left" ng-show="showFormOffre">
                        {{n.offre}}
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="Title"  ng-model="n.offre.title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" rows="3" placeholder="Description"  ng-model="n.offre.desc"></textarea>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button  class="btn btn-default btn-sm" ng-click="createOffre(n)">Envoyer</button>
                                <button  class="btn btn-info btn-sm" ng-click="deselect()">cancel</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <p style="color: red;">{{error_message}}</p>
        <p style="color: green;">{{message}}</p>

    </div>
</div>
